@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;



    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 0%;
    --muted-foreground: 240 4.8% 95.9%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --input: 240 5.9% 90%;
    --button: 240 5.9% 90%;
    --ring: 142 86% 28%;
    --chart-1: 190 100% 40%; /* Neon Blue */
    --chart-2: 200 100% 50%; /* Neon Greenish Blue */
    --chart-3: 240 100% 50%; /* Neon Purple */
    --chart-4: 280 100% 45%; /* Neon Pink */
    --chart-5: 160 100% 45%; /* Neon Teal */
    --chart-6: 120 100% 50%; /* Neon Green */
    --chart-7: 220 100% 60%; /* Neon Electric Blue */
    --chart-8: 320 100% 50%; /* Neon Fuchsia */
    --chart-9: 200 100% 45%; /* Neon Cyan */
    --chart-10: 270 100% 50%; /* Neon Violet */
    --chart-11: 210 100% 45%; /* Neon Sky Blue */
    --chart-12: 300 100% 45%; /* Neon Magenta */

    --neon-green: 120 100% 50%;
    --neon-violet: 280 100% 50%;
    --neon-cyan: 190 100% 50%;
    --neon-blue: 220 100% 50%;
    --neon-red: 0 100% 50%;

    --teal400:rgb(45 212 191);
    --teal500:rgb(20 184 166);
    --teal600:rgb(13 148 136);
    --teal700:rgb(15 118 110);

    --emerald-400:rgb(6, 95, 70);
    --emerald-500:rgb(16 185 129);
    --emerald-600:rgb(5 150 105);
    --emerald-700:rgb(4 120 87);

    --green-400:rgb(74 222 128);
    --green500:rgb(34 197 94);
    --green600:rgb(22 163 74);
    --green700:rgb(21 128 61);


  }

  .dark {
    --button: 240 5.9% 90%;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 86% 28%;
    --chart-1: 142 88% 28%;
    --chart-2: 139 65% 20%;
    --chart-3: 140 74% 24%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
  }
}

